<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="~{/fragments :: nav-bar}"></div>
<p>An unexpected error has occurred. Please contact the administrator at
    <a href="mailto:info@yourcompany.com">info@yourcompany.com</a>
</p>
<div th:replace="~{/fragments :: footer}"></div>
</body>
</html>