<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>
    <nav class="navbar" th:fragment="nav-bar">
        <div class="nav-container">
            <ul class="nav-list left">
                <li class="nav-item">
                    <form th:action="@{/}" method="get">
                        <input type="submit" value="Home">
                    </form>
                </li>
            </ul>
            <ul class="nav-list right">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <form th:action="@{/sign-in}" method="get">
                        <input type="submit" value="Sign In">
                    </form>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/sign-out}" method="post">
                        <input type="submit" value="Sign Out">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>


</html>