<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="nav-bar">
    <nav class="navbar">
        <div class="nav-container">
            <ul class="nav-list left">
                <li class="nav-item">
                    <form th:action="@{/}" method="get">
                        <input type="submit" value="Home">
                    </form>
                </li>
            </ul>
            <ul class="nav-list right">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <form th:action="@{/sign-in}" method="get">
                        <input type="submit" value="Sign In">
                    </form>
                </li>
<!--                <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--                    <form th:action="@{/users" method="post">-->
<!--                        <input type="submit" value="My Page">-->
<!--                    </form>-->
<!--                </li>-->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/sign-out}" method="post">
                        <input type="submit" value="Sign Out">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>

<footer th:fragment="footer" class="site-footer">
    <div class="footer-content">
        <p>&copy; 2024 Your Company Name. All Rights Reserved.</p>
        <p>
            <a href="mailto:info@yourcompany.com">Contact Us</a> |
            <a href="/privacy-policy">Privacy Policy</a> |
            <a href="/terms-of-service">Terms of Service</a>
        </p>
    </div>
</footer>
</html>