<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="~{/fragments :: nav-bar}"></div>
<div class="content">
    <div class="image-container">
        <a href="https://spring.io/projects/spring-security" target="_blank">
            <img th:src="@{/images/security-logo.png}" alt="spring security" class="main-image" >
        </a>
    </div>

    <li>
        <a href="/anonymous">Anonymous</a>
        <a href="/user">User</a>
        <a href="/staff">Staff</a>
        <a href="/admin">Admin</a>
        <a href="/errors/500">Error-500</a>
    </li>
</div>
<div th:replace="~{/fragments :: footer}"></div>
</body>
</html>